body{
  font-size: 20px;
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
.blue{
  color:skyblue;
}
.pink{
  color: rgb(255, 192, 203)
}
h1{
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border: solid 3px rgb(115, 115, 114);
}
#basic h2 {
  font-weight: bold;
}